---
interface Props {
  date: Date | string;
}

const { date } = Astro.props;
const parsedDate = typeof date === "string" ? new Date(date) : date;
---

<time datetime={parsedDate.toISOString()}>
  <span>
    {parsedDate.toLocaleDateString("en-US", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })}
  </span>
</time>
