---
import RedirectArrow from '@/components/svgs/RedirectArrow.astro';
import LinkArrow from '@/components/svgs/LinkArrow.astro';
interface Props {
  redirect?: boolean;
  url: string;
  name: string;
}

const { url, name, redirect = false } = Astro.props as Props;
---

<a
  class="project-card__link"
  href={url}
  aria-label={name}
  target={redirect ? "_blank" : undefined}
  rel={redirect ? "noopener noreferrer" : undefined}
>
  <span class="project-card__link__words">{name}</span>
  {
    redirect ? (
      <RedirectArrow class:list={["arrow-icon", redirect && "arrow-icon--redirect"]} />
    ) : (
      <LinkArrow class="arrow-icon" />
    )
  }
</a>

<style>
  .arrow-icon {
    width: 20px;
    height: 20px;
    transform: translate(8px, 5px);
  }
  .arrow-icon--redirect {
    transform: translateY(3px);
  }
  .project-card__link {
    color: rgba(var(--primary-text-value), 1);
    transition-duration: 500ms;
    display: flex;
    align-items: center;
  }
  .project-card__link__words {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  @media screen and (min-width: 1024px) {
    .arrow-icon {
      fill: rgba(var(--primary-text-value), 0.7);
      transition:
        transform 0.2s ease-in-out,
        opacity 0.5s;
    }
    .project-card__link:hover .arrow-icon {
      transform: translate(15px, 5px);
    }
    .project-card__link:hover .arrow-icon--redirect {
      fill: rgba(var(--primary-text-value), 1);
      transform: translate(2px, 0px);
    }
  }
</style>
