---
import GithubIcon from "@/components/svgs/SocialIcons/github.astro";
import LinkedinIcon from "@/components/svgs/SocialIcons/linkedin.astro";
import EmailIcon from "@/components/svgs/SocialIcons/email.astro";;
---

<div class="social-icons">
  <a
    class="social-icons__icon github"
    href="https://github.com/prashsamosa"
    target="_blank"
    aria-label="GitHub (opens in a new tab)"
  >
    <GithubIcon width="36" height="36" />
  </a>
  <a
    class="social-icons__icon linkedin"
    href="https://www.linkedin.com/in/prashant-bhardwaj20/"
    target="_blank"
    aria-label="Linkedin (opens in a new tab)"
  >
    <LinkedinIcon width="36" height="36" />
  </a>
  <a
    class="social-icons__icon email"
    href="mailto: prashanttbhardwajj@gmail.com"
    target="_blank"
    aria-label="Email (opens email client)"
  >
    <EmailIcon width="36" height="36" />
  </a>
</div>

<style>
  .social-icons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }

  .social-icons__icon {
    z-index: 1;
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 500ms;
  }

  .social-icons__icon:hover {
    opacity: 1;
  }
</style>
