---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="project-card__tags">
  {tags.map((tag) => <span class="project-card__tag">{tag}</span>)}
</div>
<style>
  .project-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1.4rem;
  }

  .project-card__tag {
    display: inline-block;
    font-size: 0.8rem;
    padding: 4px 10px;
    border: 1px solid rgba(var(--primary-text-value), 0.4);
    border-radius: 20px;
  }
</style>
